<!doctype html>

<div class="collapse navbar-collapse txt-white" id="main_nav">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" href="{% url 'about' %}">About <span class="sr-only"></span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'training' %}">Training</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'checkout' %}">Membership plans</a>
        </li>
    </ul>
</div>