<!doctype html>
{% extends 'base.html' %} {% block content %}

<div class="row">
    <div class="p-4 p-md-5 mb-4 text-white rounded bg-dark">
        <div class="col-md-6 px-0">
            <h1 class="display-4 fst-italic">Title of a longer featured blog post</h1>
            <p class="lead my-3">Multiple lines of text that form the lede, informing new readers quickly and
                efficiently about what’s most interesting in this post’s contents.</p>
            <p class="lead mb-0"><a href="#" class="text-white fw-bold">Continue reading...</a></p>
        </div>
    </div>

    <div class="row mb-2">
        <div class="col-md-6">
            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                    <strong class="d-inline-block mb-2 text-primary">World</strong>
                    <h3 class="mb-0">Featured post</h3>
                    <div class="mb-1 text-muted">Nov 12</div>
                    <p class="card-text mb-auto">This is a wider card with supporting text below as a natural lead-in to
                        additional content.</p>
                    <a href="#" class="stretched-link">Continue reading</a>
                </div>
                <div class="col-auto d-none d-lg-block">
                    <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg"
                        role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice"
                        focusable="false">
                        <title>Placeholder</title>
                        <rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef"
                            dy=".3em">Thumbnail</text>
                    </svg>

                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                    <strong class="d-inline-block mb-2 text-success">Design</strong>
                    <h3 class="mb-0">Post title</h3>
                    <div class="mb-1 text-muted">Nov 11</div>
                    <p class="mb-auto">This is a wider card with supporting text below as a natural lead-in to
                        additional content.</p>
                    <a href="#" class="stretched-link">Continue reading</a>
                </div>
                <div class="col-auto d-none d-lg-block">
                    <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg"
                        role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice"
                        focusable="false">
                        <title>Placeholder</title>
                        <rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef"
                            dy=".3em">Thumbnail</text>
                    </svg>

                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8">
            <h3 class="pb-4 mb-4 fst-italic border-bottom">
                Why you should choose Martial Arts
            </h3>
                <h2 class="blog-post-title">Sample blog post</h2>
                <p class="blog-post-meta">January 1, 2014 by <a href="#">Mark</a></p>

                <p>Martial arts striking techniques and combination drills along with heart pumping cardio give you the
                    benefit of a Total body workout allowing you to work all muscle groups primary and secondary,
                    resulting in getting fit, weight loss, burning mega calories per work out leaving you feeling more
                    confident and in control of every day challenges life throws at you. As well as meeting new people
                    its a fun and encouraging way of training leaving you energised achieving the results/goals you have
                    always wanted This form of training also can help with the list below:</p>
                <hr>
                <ul>
                    <li>REDUCE STRESS</li>
                    <li>BOOST CONFIDENCE LEVELS</li>
                    <li>IMPROVE CO-ORDINATION</li>
                    <li>BURN MEGA CALORIES </li>
                    <li>IDEAL CROSS-TRAINING WORKOUT</li>
                    <li>ENERGY BOOST</li>
                    <li>BETTER POSTURE</li>
                    <li>A GREAT WAY TO GET INTO SHAPE!!!</li>
                </ul>

                <p>Participation in martial arts can help kids to develop confidence and increase their self esteem.
                    when children improve their social skills and learn to feel capable in one area of their lives, this
                    confidence often spills over into other areas, increasing the likelihood that they will excel both
                    personally and academically. Many children learn to take on leadership roles, helping younger
                    students to master the skills involved in sport.</p>

                
                <h2>The Master</h2>
                <h3>Mark Mutto</h3>
                <p>YI have personally been involved in martial arts since the age of 18, I began learning Tae Kwon Do
                    for several years, in 2004 I became a member of the South East Academy of Martial Arts and have been
                    training and competing with with the club, I have achieved my 4th Dan in kickboxing and currently
                    working towards my 5th Dan, I have also gained my 1st degree black sash in Kung Fu working towards
                    my 2nd degree and also training to become a Dim-Mak Instructor in self-defence. I have been with
                    this club for over 10 years and still learning new skills. I found my self being inspired to become
                    a instructor from seeing the example from chief instructor Peter Edwards who personally took me
                    under his wing and my love and passion for this sport has equipped me to become the instructor I am
                    today. I aim to get the best out of each individual student I teach working on their strengths, and
                    building there weaknesses too. Feel free to browse social links for more information as I can't even
                    begin to express about the benefits and experiences I have had, being part of this family which has
                    so much more to offer.</p>

        </div>
    </div>
</div>




{% endblock %}