<!doctype html>
{% load static %}

<html lang="en">

<head>

    {% block meta %}
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="pragma" content="no-cache" />
    {% endblock %}

    {% block extrameta %}
    {% endblock %}

    {% block corecss %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Old+Standard+TT&display=swap" rel="stylesheet">
    {% endblock %}

    {% block extracss %}
    {% endblock %}

    {% block corejs %}
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.6.0/dist/umd/popper.min.js"
        integrity="sha384-KsvD1yqQ1/1+IA7gi3P0tyJcT3vR+NdBTt13hSJ2lnve8agRGXTTyNaBYmCR/Nwi"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.min.js"
        integrity="sha384-nsg8ua9HAw1y0W1btsyWgBklPnCUAFLuTMS2G72MMONqmOymq585AcH49TLBQObG"
        crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/48fec3fd22.js" crossorigin="anonymous"></script>
    {% endblock %}

    {% block extrajs %}
    {% endblock %}

    <title>MZM Martial arts {% block extra_title%}{% endblock %}</title>
</head>

<body>
    <header class="container-fluid fixed-top">
        <div class="row">
            <div id="topnav" class="row bg-light pt-lg-2 d-none d-lg-flex">
                <div class="col-12 col-lg-4 my-auto py-1 py-lg-0 text-center text-lg-left">
                    <a href="{% url 'home' %}" class="nav-link main-logo-link">
                        <h2 class="logo-font text-black my-0"><strong>MZM</strong> Martial Arts</h2>
                    </a>
                    <h4 class="logo-font text-black my-0">Kick Boxing & Kung Fu</h4>
                </div>
                <div class="col-12 col-lg-4 my-auto py-1 py-lg-0 text-center text-lg-right">
                    <img src="{{ MEDIA_URL }}logo.jpg" alt="Logo" class="logo_bkgrnd">
                </div>
                <div class="col-12 col-lg-4 my-auto py-1 py-lg-0">
                    <ul class="list-inline list-unstyled text-center text-lg-right my-0">
                        <li class="list-inline-item dropdown">
                            <a class="text-black dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                                <div class="text-center">
                                    <div><i class="fas fa-user fa-lg"></i></div>
                                    <p class="my-0">My Account</p>
                                </div>
                            </a>
                            <div class="dropdown-menu dropdown border-0" aria-labelledby="dropdownMenuButton1">
                                {% if request.user.is_authenticated %}
                                    {% if request.user.is_superuser %}
                                        <a href="" class="dropdown-item">Product Management</a>
                                    {% endif %}
                                    <a href="{% url 'profile' %}" class="dropdown-item">My Profile</a>
                                    <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
                                    {% else %}
                                        <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
                                        <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
                                {% endif %}
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                {% include 'includes/main_nav.html' %}
            </nav>
        </div>
    </header>

    {% if messages %}
    <div class="message-container"></div>
    {% endif %}

    {% block page_header%}
    {% endblock%}

    {%block content%}
    {% endblock %}


</body>

<footer class="bg-light text-center text-lg-start">
    <!-- Grid container -->
    <div class="container p-4">
        <!--Grid row-->
        <div class="row">
            <!--Grid column-->
            <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
                <h5 class="text-uppercase text-black">Our aim:</h5>

                <p class="text-black">
                    We aim to provide an online martial arts subscription learning service that emails you new classes every week tailored to your skill level!
                </p>
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase">Useful links:</h5>

                <ul class="list-unstyled mb-0">
                    <li>
                        <a href="{% url 'about' %}" class="link-styles">About</a>
                    </li>
                    <li>
                        <a href="{% url 'training' %}" class="link-styles">Training</a>
                    </li>
                    <li>
                        <a href="{% url 'membership_plans' %}" class="link-styles">Membership Plans</a>
                    </li>
                </ul>
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase mb-0">Socials:</h5>

                <ul class="list-unstyled">
                    <li><a href="https://www.youtube.com/channel/UCvynXxU2kIozuS-8TO_tQ-A" target="_blank">
                            <i class="fa fa-youtube-play" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li><a href="#" target="_blank">
                            <i class="fas fa-envelope"> info@mzm-semartialarts.com</i>
                        </a>
                    </li>
                    <li><a href="#" target="_blank">
                            <i class="fas fa-phone-alt"> 07939 208 909</i>
                        </a>
                    </li>
                </ul>
            </div>
            <!--Grid column-->
        </div>
        <!--Grid row-->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2020 Copyright:
        <a class="text-dark" href="https://mzm-martialarts.com/">mzm-martialarts.com</a>
    </div>
    <!-- Copyright -->
</footer>

{%block js %}
{% endblock %}

</html>