<!DOCTYPE html>
{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-md-8">
                <h2 class="blog-post-title">Why you should choose Martial Arts</h2>

                <p>Martial arts striking techniques and combination drills along with heart pumping cardio give you the
                    benefit of a Total body workout allowing you to work all muscle groups primary and secondary,
                    resulting in getting fit, weight loss, burning mega calories per work out leaving you feeling more
                    confident and in control of every day challenges life throws at you. As well as meeting new people
                    its a fun and encouraging way of training leaving you energised achieving the results/goals you have
                    always wanted This form of training also can help with the list below:</p>
                <hr>
                <center>
                    <ul>
                        <li>REDUCE STRESS</li>
                        <li>BOOST CONFIDENCE LEVELS</li>
                        <li>IMPROVE CO-ORDINATION</li>
                        <li>BURN MEGA CALORIES </li>
                        <li>IDEAL CROSS-TRAINING WORKOUT</li>
                        <li>ENERGY BOOST</li>
                        <li>BETTER POSTURE</li>
                        <li>A GREAT WAY TO GET INTO SHAPE!!!</li>
                    </ul>
                </center>
                <hr>
                <p>Participation in martial arts can help kids to develop confidence and increase their self esteem.
                    when children improve their social skills and learn to feel capable in one area of their lives, this
                    confidence often spills over into other areas, increasing the likelihood that they will excel both
                    personally and academically. Many children learn to take on leadership roles, helping younger
                    students to master the skills involved in sport.</p>

                <div class="row row-no-margin">
                    <div class="col-xs-12 col-sm-4 col-no-padding">
                        <img src="{{ MEDIA_URL }}about_img1.jpg" alt="Home_1" class="thumbnail img-responsive">
                    </div>
                    <div class="col-xs-12 col-sm-4 col-no-padding">
                        <img src="{{ MEDIA_URL }}about_img2.jpg" alt="Home_2" class="thumbnail img-responsive">
                    </div>
                    <div class="col-xs-12 col-sm-4 col-no-padding">
                        <img src="{{ MEDIA_URL }}about_img3.jpg" alt="Home_3" class="thumbnail img-responsive">
                    </div>
                </div>

                <h2>The Master</h2>
                <h3>Mark Mutto</h3>
                <p>I have personally been involved in martial arts since the age of 18, I began learning Tae Kwon Do
                    for several years, in 2004 I became a member of the South East Academy of Martial Arts and have been
                    training and competing with with the club, I have achieved my 4th Dan in kickboxing and currently
                    working towards my 5th Dan, I have also gained my 1st degree black sash in Kung Fu working towards
                    my 2nd degree and also training to become a Dim-Mak Instructor in self-defence. I have been with
                    this club for over 10 years and still learning new skills. I found my self being inspired to become
                    a instructor from seeing the example from chief instructor Peter Edwards who personally took me
                    under his wing and my love and passion for this sport has equipped me to become the instructor I am
                    today. I aim to get the best out of each individual student I teach working on their strengths, and
                    building there weaknesses too. Feel free to browse social links for more information as I can't even
                    begin to express about the benefits and experiences I have had, being part of this family which has
                    so much more to offer.</p>

            </div>
        </div>
    </div>


{% endblock %}