<!DOCTYPE html>
{% extends "base.html" %}
{% load static %}

{% block page_header %}

    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>

{% endblock %}

{% block content %}

    <div class="container h-100">
        <div class="row h-100">
            <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
                <h1 class="display-4">Membership Plans</h1>
                <p class="lead">Our online exclusive membership will help kick off or continue your journey in martial arts
                    with
                    subscriptions provided for students of all ability levels.</p>
            </div>
            <div class="container">
                <div class="card-deck mb-3 text-center">
                    {% for p in products %}
                        <div class="card mb-4 box-shadow">
                            <div class="card-header">
                                <h4 class="my-0 font-weight-normal">{{p.name}}</h4>
                            </div>
                            <div class="card-body">
                                <ul class="list-unstyled mt-3 mb-4">
                                    <li>{{p.description}}</li>
                                </ul>
                                {% for plan in p.plan_set.all %}
                                    <h1 class="card-title pricing-card-title">{{ plan.human_readable_price }}</h1>
                                    <input type="checkbox" name="{{p.name}}" value="{{p.id}}" onclick="planSelect('{{p.name}}' ,'{{plan.human_readable_price}}', '{{plan.id}}')">
                                {% endfor %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}
